body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.producto {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
